<h1>Hello <%= @user.name %>,</h1>

<p>
  Bienvenue chez Radicl.org. La première plateforme de gestion pour les permaculteurs.
  Voici vos informations de connexion :</p>
  <p>Votre email :<%= @user.email %></p>
  <p>Votre mot de passe : celui que vous avez entré</p>

<p>A très bientôt,</p>

<p>L'équipe Radicl.org</p>
