// Specific CSS for your home-page

.animated {
transition: all 0.6s ease-in;
}

.anim-scroll { opacity: 0}

.row.statistics{
  width: 1100px;
  margin: 0 auto;
}


.container {
  min-height: 80vh;
}

.container.show-garden {
  width: 900px;
  min-height: 300px;
}

body {
  background-color: white;
}


.how{
  color: #2b4635;
  margin-bottom: 56px;
}

.green-button {
  color: #2b4635;
  border: 1px solid #2b4635;
}

.green-button:hover {
  background-color: #2b4635;
  color: white;
  border: 1px solid white;
}

.row a {
  text-decoration:none!important;
}
