// Specific CSS for your home-page



// responsive landing page

@media (max-width: 650px)

{
  i.fa.fa-bars.dropdown-toggle  {
    display: none;
  }

span#banner-typed-text, .banner h1 {
  font-size: 35px;
  }

p.text-center {
  margin-bottom: 20px;
}

.wrapper-2{ padding: 50px}

a.btn.btn-home.btn-lg.animated.zoomIn{display:none;}

.contactez {
    background-color: none;
    display: block!important;
    padding: 5px;
    border:none;
    color:white;
    margin: 0 auto;
}

.contactez:hover{
  background-color:none;
}
}



.animated {
transition: all 0.6s ease-in;
}

.anim-scroll { opacity: 0}

.row.statistics{
  width: 1100px;
  margin: 0 auto;
}


.container {
  min-height: 80vh;
}

.container.show-garden {
  width: 900px;
  min-height: 300px;
}

body {
  background-color: white;
}


.how{
  color: #2b4635;
  margin-bottom: 56px;
}

.green-button {
  color: #2b4635;
  border: 1px solid #2b4635;
}

.green-button:hover {
  background-color: #2b4635;
  color: white;
  border: 1px solid white;
}

.row a {
  text-decoration:none!important;
}
