.message {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  width: 900px;
  margin: 0 auto;
  justify-content: center;
}

.zone-name{
  background-color: whitesmoke;
  padding: 20px;
  text-align: center;
}

.zone-name p {
  font-style: italic;
  margin-bottom: 0px;
}

p.error-message {
    padding: 40px 70px 10px;
    font-style: italic;
}

.zone-name h1{
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.1em;
  font-size: 26px;
  font-weight: 300;
  padding-bottom: 7px
}

.plus {margin-top: 74px;
  text-align:center;
  margin-bottom: 100px;
}

.plus img {
    width: 70px;
}

.avatar-large {
  width: 50px;
}

.message:last-child {
  border-bottom: none;
}
.message-body {
  flex-grow: 1;
  max-width: 900px;
}
.message-name {
  padding-left: 10px;
  min-width: 131px;
  text-align: center;
  background-color: #dbf3ff;
  padding: 20px;
}


.message-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}
.message-body {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}
.message-body {
  padding-left: 20px;
  color: rgba(0,0,0,0.4);
}
.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-body p {
  margin: 6px 0;
}
.message-status {
  font-size: 14px;
  font-weight: bold;
}
.status.accepted {
  color: #04A366;
}
.status.declined {
  color: red;
}
.status.pending {
  color: lightgrey;
}

.badge{
  font-size: 12px;
  font-weight: lighter;
  border-radius: 0px;
}
.badge-success {background-color: green;}

.badge-warning {background-color: coral;}
