.filter-btn{
    border: 1px solid #46b2e8;
    padding: 2px;
    font-size: 12px;
    text-transform: lowercase;
}

.row.meteo {
  margin:0 auto
}

.zone-name.autre{
    padding-left: 126px;}


.title-other {
    margin-top: 21px;
    text-align:left;
}

.title-other h1 {
  text-align: left!important;
}

.button-contact.followbtn {
      font-size: 10px;
      text-align:center;
      width:94px;
}


a.weatherwidget-io{
height: 0;
transition: height 1s ease;
}

.btn.btn-medium {
  border: 1px solid #C1C1C1;
  font-size: 11px;
  &.btn.btn-medium:focus{
    outline: none;
  }
  // transition: all 0.3s ease;
  &.done{
    text-decoration: underline;
    margin: auto 20px;
    border: 1px solid transparent;
  }
  &.mark_as_done:hover {
    transform: scale(1.1);
  }
  &.mark_as_done:focus {
    outline: none;
  }
  &.follow {
    font-size: 20px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
  }
}
.open-link {
  height: 100px!important;
}

.locationName{display:none;}

.message-body.productsi {width: 200px}
.message-body.products {width: 110px}

input#query {
    box-shadow: none;
    border: none;
    border-bottom: 2px solid #46b2e8;
    width:500px;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 0px;
    margin-left: -2px;
    font-style: italic;
}


h1.how.text-center {
    margin-bottom: 12px;
        font-size: 41px;

}

div#searchbar {
    text-align: center;
    margin-bottom: 30px;
    margin-top:30px;
}

i.far.fa-times-circle {
    color: #46b2e8;
}


.btn.active{
  background-color: #46b2e8;
  border: 1px solid #46b2e8;
  color: white;
}

div#myBtnContainer {
    text-align: center;
    margin-top: 10px;
}


p {margin: O}

.message {
    display: flex;
    align-items: center;
    padding: 0px;
    border-bottom: 1px solid #46b2e8;
    width: 818px;
    margin: 0 auto;
}

i.far.fa-edit {
    position: absolute;
    font-size: 18px;
    color: black;
    top: 29px;
    right: 26px;
}

i.far.fa-trash-alt {
    position: absolute;
    right: 32px;
    bottom: 25px;
    color: gray;
    font-size: 14px;
}



.zone-name{
  background-color: whitesmoke;
  padding: 20px;
  text-align: center;
}


.zone-name.zoni {
  padding-top: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &.owner {
  background-color: #46b2e8;
  }
}

.zoni-box{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.zoni-title {
    margin-left: 10px;
    text-align: left;
}

.zone-name.zoni h1 {
    color: white;
    padding-bottom: 19px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.zone-name.zoni.others{background-color: white;}


.zone-name.zoni p {color:white;}

.zoni-profiles { position:relative;}

.text p {
    font-size: 13px;
    font-style: italic;
    text-align: left;
}

.row.zones-garden {
  margin-top: 30px;
  margin-bottom: 30px;
}

.zone-name p {
  font-style: italic;
  margin-bottom: 0px;
}

p.error-message {
    padding: 40px 70px 10px;
    font-style: italic;
}

.zone-name h1{
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.1em;
  font-size: 26px;
  font-weight: 300;
  padding-bottom: 7px;
  color: #2b4635;
}

.plus {margin-top: 74px;
  text-align:center;
  margin-bottom: 30px
}

.avatar-large {
  width: 45px;
  margin-top: -3px;
  border-radius: 50%;
}

.avatar-other {
  border-radius: 50%;
  width: 87px;
  margin-bottom: 19px;
}

img.plus-sign {
    width: 45px!important;
    padding: 8px!important;
}




img.plus-sign:hover{
  cursor:pointer;
}

.message:last-child {
  border-bottom: none;
}

.message-body {
  flex-grow: 1;
  max-width: 800px;
  text-align: left;
  flex: 0 0 18.4%;
}


.message-name {
    padding-left: 10px;
    text-align: center;
    background-color: #dbf3ff;
    padding: 10px;
    height: 66px;
}


.message-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 14px;
}
.message-body {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}
.message-body {
  padding-left: 20px;
  color: rgba(0,0,0,0.4);
}
.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-body p {
  margin: 6px 0;
}
.message-status {
  font-size: 14px;
  font-weight: bold;
}

i.fas.fa-check {
  font-size: 24px;
  color: grey;
  &.done {
    color: #04A366;
  }
}

.badge{
  font-size: 12px;
  font-weight: lighter;
  border-radius: 0px;
  padding: 10px;
}

.badge-success {background-color: green;}

.badge-warning {background-color: coral;}



