

.card-icon.stats {
 padding: 35px;
}

.row.text-center.statsoverv {
    margin-bottom: 86px;
    margin-top: 27px;
}

.overview {
  margin-bottom: 40px;
  margin-top: 30px;
  background-color: #46b2e8;
  color: white;
  padding: 20px 30px 30px 30px;
  border-radius: 10px;
}

.row.overview {
  margin-top: 30px;
  background-color: white;
  padding: 30px;
}


.img-map {
  margin: 0 auto;
  width:150px;
}

div#map {
  width: 500px!important;
height: calc(100vh - 10px) !important}


h2.mapi {
    font-size: 21px;
    margin-top: 11px;
    margin-bottom: 10px;
    text-align: center;
}

p.mapi{text-align:center;}

.gm-style img{
  width: 300px
}
