<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.12), rgba(0,0,0,0.11)), url(http://res.cloudinary.com/bdmbdm/image/upload/v1527854895/qwyyhcbciic97mmcvfys.jpg); background-size: cover!important">
  <div class="form">
    <div class="row">
        <h1>add an element to <%= @zone.name.downcase %></h1>
        <br>
        <% if policy(@element).create? %>
          <%= render 'form', zone: @zone, element: @element %>
        <% end %>
    </div>
  </div>
</div>
