<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/bdmbdm/image/upload/v1528129297/permaculture1.jpg); background-size: cover!important" >
  <div class="banner-content">
    <br><br>
    <h1><span id="banner-typed-text"></span><br>votre ferme en permaculture</h1>
    <br>
    <%= link_to "démarrer", new_user_registration_path, class: "btn btn-home btn-lg animated zoomIn" %>
    <a href="mailto:contact@radicl.org" class="btn btn-home btn-lg contactez">contactez-nous</a>
  </div>
</div>
