<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.12), rgba(0,0,0,0.11)), url(https://res.cloudinary.com/bdmbdm/image/upload/v1527597646/photo-1518462592603-0b6bac106032.jpg)">
  <div class="banner-content">
  <br><br>
  <h1>manage & share your permaculture systems</h1>
 <br>
    <a class="btn btn-home btn-lg" href="/users/sign_up">start growing</a>
  </div>
</div>
