<div class="banner-dash" style="background-image: linear-gradient(rgba(0,0,0,0.12), rgba(0,0,0,0.11)), url(https://res.cloudinary.com/bdmbdm/image/upload/v1528130936/photo-1468357161629-c3c530741678.jpg)">
</div>
