<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/bdmbdm/image/upload/v1527588708/mandalat.jpg)">
  <div class="banner-content">
  <br><br>
  <h1>manage & share your permaculture systems</h1>
 <br>
    <a class="btn btn-home btn-lg" href="/users/sign_up">start growing</a>
  </div>
</div>
