<%= render 'shared/banner' %>

<div class="container">
<br>
<h1 class="how">how does it work?</h1>
<br>
<div class="wrapper">
  <div class="row">
  <%= link_to new_garden_path do %>
  <div class="col-xs-12 col-sm-3">
    <div class="card-icon">
      <p>create your farm</p>
      <img src="https://res.cloudinary.com/bdmbdm/image/upload/v1527671032/farm.svg" alt="">
    </div>
  </div>
  <% end %>
  <%# if current_user.garden %>
    <%#= link_to new_garden_zone_path(current_user.garden) do %>
    <div class="col-xs-12 col-sm-3">
      <div class="card-icon">
      <p>add your zones</p>
        <img src="https://res.cloudinary.com/bdmbdm/image/upload/v1527697260/circles2.svg" alt="">
      </div>
    </div>
    <%# end %>
  <%# end %>
  <%#= link_to garden_path(current_user.garden) do %>
  <div class="col-xs-12 col-sm-3">
    <div class="card-icon">
    <p>log your actions</p>
      <img src="https://res.cloudinary.com/bdmbdm/image/upload/v1527671027/watering.svg" alt="">
    </div>
  <%# end %>
  </div>
  <%#= link_to community_gardens_path do %>
  <div class="col-xs-12 col-sm-3">
    <div class="card-icon">
    <p>share & learn</p>
      <img src="http://res.cloudinary.com/bdmbdm/image/upload/v1527697464/share.svg" alt="">
    </div>
  </div>
  <%# end %>
</div>
</div>


<br><br>



<h1 class="how">get inspired, explore our greatest farms</h1>
<br>

<% @gardens.each do |garden| %>
  <div class="col-xs-12 col-sm-3">
    <%= garden.name %>
  </div>
<% end %>


  <div class="row ">
<!-- this is a card model guys <3 -->
  <div class="col-xs-12 col-sm-3">
    <div class="card">
      <img class="card-img-top" src="https://static1.squarespace.com/static/57237e32d210b805ad7f7ed0/t/57ce82eb725e25df3e05ab17/1473151733684/" alt="Card image cap">
      <a href="#" class="icon"><i class="fas fa-seedling"></i></a>
      <div class="card-body">
        <h2 class="card-title">Name of the garden</h2>
        <p class="name-gardener">Name of the gardener</p>
        <p class="address-garden">40 rue de Lonchamp - Fontainebleau</p>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
        <div class="card-link">
          <a href="#">explore</a>
        </div>
    </div>
  </div>
  <!-- this is it, copy-paste -->

  <div class="col-xs-12 col-sm-3">
    <div class="card">
      <img class="card-img-top" src="https://static1.squarespace.com/static/57237e32d210b805ad7f7ed0/t/57ce82eb725e25df3e05ab17/1473151733684/?format=750w" alt="Card image cap">
      <a href="#" class="icon"><i class="fas fa-seedling"></i></a>
      <div class="card-body">
        <h2 class="card-title">Name of the garden</h2>
        <p class="name-gardener">Name of the gardener</p>
        <p class="address-garden">40 rue de Lonchamp - Fontainebleau</p>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
        <div class="card-link">
          <a href="#">explore</a>
        </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-3">
    <div class="card">
      <img class="card-img-top" src="https://static1.squarespace.com/static/57237e32d210b805ad7f7ed0/t/57ce82eb725e25df3e05ab17/1473151733684/?format=750w" alt="Card image cap">
      <a href="#" class="icon"><i class="fas fa-seedling"></i></a>
      <div class="card-body">
        <h2 class="card-title">Name of the garden</h2>
        <p class="name-gardener">Name of the gardener</p>
        <p class="address-garden">40 rue de Lonchamp - Fontainebleau</p>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
        <div class="card-link">
          <a href="#">explore</a>
        </div>
    </div>
  </div>



  <div class="col-xs-12 col-sm-3">
    <div class="card">
      <img class="card-img-top" src="https://static1.squarespace.com/static/57237e32d210b805ad7f7ed0/t/57ce82eb725e25df3e05ab17/1473151733684/?format=750w" alt="Card image cap">
      <a href="#" class="icon"><i class="fas fa-seedling"></i></a>
      <div class="card-body">
        <h2 class="card-title">Name of the garden</h2>
        <p class="name-gardener">Name of the gardener</p>
        <p class="address-garden">40 rue de Lonchamp - Fontainebleau</p>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
        <div class="card-link">
          <a href="#">explore</a>
        </div>
    </div>
  </div>
  <!-- <div class="search-bar">
    <%#= form_tag root_path, method: :get do %>
    <%#= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a garden"
    %>
  <%# end %>
  </div>
  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>">
  </div> -->
</div>
<!-- end of row -->
</div>
