<%= link_to follow_path(@garden), method: :patch, remote: true, class: "icon follow-btn" do %>
  <% if current_user.follow?(@garden) %>
    <button class="button-contact followbtn">Ne plus suivre</button>
  <% else %>
    <button class="button-contact followbtn">Suivre</button>
  <% end %>
<% end %>
