<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.12), rgba(0,0,0,0.11)), url(http://res.cloudinary.com/bdmbdm/image/upload/v1527854895/qwyyhcbciic97mmcvfys.jpg); background-size: cover!important;">
  <div class="form">
    <div class="row">
      <h1>Modifier les informations de votre ferme</h1>
       <% if policy(@garden).edit? %>
        <%= render 'form', garden: @garden %>
      <% end %>
    </div>
  </div>
</div>


