/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}

.alert.alert-info.alert-dismissible {
  width: 100vw;
  margin-left: -102px;
}

.alert {
  position: absolute;
  top: 85px;
  left: 102px;
  height: 40px;
  padding-top: 12px;
  font-size: 11px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  z-index: 40;
  border: none;
  border-radius: 0px;
}

button.close {
  padding-top: 10px;
  margin-top: -1px;
  color: black;
  font-size: 18px;
  color: white!important;
}
