.wrapper{
  max-width: 1100px;
}

.wrapper {margin-bottom: 100px}

.wrapper-2 {
 background-color: #fbfbfb;
 width: 100vw;
 padding: 30px 150px;
 padding-bottom: 80px;
}

 .card-icon {
    margin: 0 auto;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    text-align: center;
    background-color: #dbf3ff;
    padding: 52px;
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 3px #eaeaea;
}

.card-icon:hover{
  background-color: #46b2e8;
  transition: .5s ease;
}


.row a {
  color: #2b4635!important;
  opacity: 1
}

.wrapper{
  margin-top: 30px;
  padding: 30px;
}

img.card-img-top {
height: 145px;
display: block;
width: 100%;
}

.text{
  width: 80%;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(13, 103, 151, 0.1);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.card:hover .overlay {
  height: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3fb1ea;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.text p{
  font-size: 12px;
  font-style: italic;
}

.card {
  position: relative;
  width: 100%;
}

.text h2{
  font-size: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin: 20px auto;
}

.card-body {
  width: 241px;
  padding: 5px 15px;
  border: 1px solid #0D6797;
  // position: absolute;
  top: 180px;
  margin-top: 9px;
  margin-bottom: 100px;
}

i.fas.fa-seedling {
  position: absolute;
  color: white;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  background-color: #3fb1ea;
  padding: 4px;
  font-size: 14px;
  z-index: 300;
}

i.fas.fa-seedling:hover{
  color: #2b4635;
}

.card-link {
  background-color: #3fb1ea;
  width: 100%;
  top: 368px;
  margin-bottom: 40px;
  text-align:center;
}

.card-link p a:hover {
  text-decoration: none!important
}

.card-link p {
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  text-decoration:none;
  padding: 5px;
  letter-spacing: 0.1em;
}

// card for gardens
.card-description-zone {
  padding: 50px;
}

.card-link-garden {
    background-color: #0d6797;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0px;
    font-size: 18px;
    padding: 5px;
}

.card-link-garden a:hover {
  text-decoration: none;
  opacity: 0.6}

.card-description-zone h3, .card-description-zone p, .card-description-zone a {
  color: white;
}

.card-description-zone h3 {
  font-size: 17px,
}

.card-description-zone-add{
  height: 246px!important;
}

.plus img
{width: 40px!important;}

.card.garden{
  margin-bottom: 30px;
  margin-top: 30px
}

.row.garden-logs {
  margin-top: 30px;
  margin-bottom: 30px;
}
