.form{
  background-color: rgba(255, 255, 255, 0.7);
  width: 600px;
  padding:50px;
  color : #0d6797;
}

abbr[title], abbr[data-original-title]
{
  border-bottom: none!important;
}

h2{
  margin-bottom: 40px;
  margin-top: -18px
}

.form-control:focus{
  border: none;
  border-bottom: 2px solid black;
  box-shadow: none;
}

i.far.fa-times-circle{
  color: black;
}

input.form-control{
text-align: center;
width: 400px;
margin: 0 auto;
}

.form-control {
  box-shadow:none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #0d6797;
  text-align: center;
}

.form-actions .btn{
background-color: black;
text-align: center;
color: white;
margin-bottom: 30px
}

.form-actions .btn:hover{
  background-color: white;
  border: 1px solid black;
  color: black
}

input {box-shadow: none;}


.cancel-account{
  background-color: #e0e0e0;
  padding: 10px;
}

.cancel-account p {
  font-size: 14px;
}

.form-group.text.required.review_content {
    margin-top: 30px;
}


.destroy {
  font-size: 15px;
  color: black;
  margin-top:20px;
}

textarea.form-control {
    height: 42px;
}

input.btn.btn-home.btn-lg{
  background-color: #0d6797;
  color: white;
  box-shadow:none;
}

input.btn.btn-home.btn-lg:hover{
  border: 1px solid #0d6797;
  background-color: white;
  color: #0d6797;
}

label {
  font-weight: lighter;
}

input[type="file"] {
    display: block;
    font-size: 10px;
    margin: 0 auto;
    padding-top: 10px;
}
