.form{
  background-color: rgba(255, 255, 255, 0.7);
  width: 600px;
  padding:50px;
  color : #2b4635;
}

span#select2-log_category-container {
    margin-left: 6px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #2b4635!important;
    line-height: 28px;}

.select2-container--default .select2-results__option--highlighted[aria-selected]
{
  background-color: #2b4635!important;
}


abbr[title], abbr[data-original-title]
{
  border-bottom: none!important;
}

h2{
  margin-bottom: 40px;
  margin-top: -18px
}

.form-control:focus{
  border: none;
  border-bottom: 2px solid black;
  box-shadow: none;
}

input.form-control {
    text-align: left;
    width: 400px;
    margin: 0 auto;
    color: #2b4635;
    font-weight: 300;
}

i.far.fa-times-circle{
  color: black;
}

input.form-control{
text-align: center;
width: 400px;
margin: 0 auto;
}

.form-control {
  box-shadow:none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #2b4635;
  border-radius: 0px;
  text-align: center;
}

.form-actions .btn{
background-color: black;
text-align: center;
color: white;
margin-bottom: 30px
}

.form-actions .btn:hover{
  background-color: white;
  border: 1px solid black;
  color: black
}

input {box-shadow: none;}


.cancel-account{
  background-color: #e0e0e0;
  padding: 10px;
}

.cancel-account p {
  font-size: 14px;
}

.form-group.text.required.review_content {
    margin-top: 30px;
}


.destroy {
  font-size: 15px;
  color: black;
  margin-top:20px;
}

textarea.form-control {
    height: 42px;
}

input.btn.btn-home.btn-lg{
  background-color: #2b4635;
  color: white;
  box-shadow:none;
}

input.btn.btn-home.btn-lg:hover{
  border: 1px solid #2b4635;
  background-color: white;
  color: #2b4635;
}

label {
  font-weight: lighter;
}

input[type="file"] {
    display: block;
    font-size: 10px;
    margin: 0 auto;
    padding-top: 10px;
}
