// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "footer";
@import "banner";
@import "card";
@import "tab";
@import "form";
@import "modal";
@import "animate";
@import "circle";

.avatar-large.shared{ width: 78px}
.avatar-medium.shared{
  width: 60px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px grey;
margin-bottom: 7px;
   margin-top: 24px;
    }

img.photo-produit {
    width: 72px;
    height: 50px;
}

.col-xs-2.myfollowers.no-padding {
    padding-bottom: 40px;
    margin-bottom: 41px;
    background-color: #dcf3fe;
    margin-left: 19px;
    height: 479px;
}

.message-body.adress-garden{
flex-grow: 4}


.message-body h6 {
  color: #2b4635
}

.message-body p a {
text-decoration: underline!important}

.message-body.product {
  width: 110px;
}

// .no-padding{
//   padding: 0;
// }


.margin-bottom{
  margin-bottom: 40px;
}

.good-width{
  width: 165px;
}

.center{
  margin-left: 400px;
}

