button.plus {
    background-color: white!important;
    border: none;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #2b4635;
    color: white;
}

.modal-body{
  padding: 30px;
}

.modal-content {
background-color: white !important}



legend {
    margin-bottom: 10px;
    font-size: 18px;
    color: inherit;
    border: none;
    padding-top: 72px
}

.plus.mod{
  margin-top: 0;
}

fieldset.form-group.check_boxes.optional.log_elements {
    background-color: #eaeaea;
    padding: 20px;
    margin-top: -20px;
}

