button.plus {
    background-color: white!important;
    border: none;
}

.modal-body{
  padding: 40px 50px;
}

.modal-content {
background-color: white !important}

label.collection_check_boxes {
    padding: 5px 10px;
}

legend {
    margin-bottom: 10px;
    font-size: 18px;
    color: inherit;
    border: none;
    padding-top: 72px
}

.plus.mod{
  margin-top: 0;
}

fieldset.form-group.check_boxes.optional.log_elements {
    background-color: #eaeaea;
    padding: 20px;
    margin-top: -20px;
}

